.navbar{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    margin: 2rem 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.navbar>button{
    padding: 0.5rem 2rem;
    background-color: #6666ff;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    border: none;
    margin-right: 3rem;
}
.jobs{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
}
.job{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}
.options{
    margin-top: 1.2rem;
}
.card-body{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.details{
    display: flex;
    justify-content: space-between;
}
.company{
    display: flex;
    justify-content: flex-start;
    column-gap: 0.5rem;
}
.options{
    text-align: right;
}
.options:hover{
    cursor: pointer;
}
.options-menu{
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    row-gap: 0.6rem;
    padding: 0.6rem 0.8rem;

}
.options-menu > button{
    border: none;
    background-color: #fff;
}
.options-menu > button:hover{
    cursor: pointer;
}
#icon{
    background-color: lightslategray;
    width: 1.5rem;
    border-radius: 50%;
    text-align: center;
    padding: 0.2rem 0.2rem;
}
#dots{
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 50%;
}
#dots:hover{
    background-color: lightslategray;
}
@media all and (max-width: 600px) {
    .job{
        margin: 0 2rem;
        flex-grow: 1;
     }
  }